/CreateNewREADME.py
/PyCharmStarter.py
/test/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/CreateBasicFolder.sh
/library/archive/
/output/
/supplement_data/
/tmp/
/ListFile.py
/input/
/data/
/library/
/recycle.py
/start_jupyter.bat
/TAG_TO_BACKUP.py
/model/
/GitAddBasicFile.sh
/TAG_IMAGE_RESIZE.py
/TAG_XX.py
/VSCodeStarter.py
**/__pycache__/
**/archive/
**/*.log
MODE_*
AddSourceInfo.sh
RevealCurrentFolder.py
GetNewPython.py
**/archive/
**/MODE_*
**.log
**/*_credentials.py


**/*.docx